! xterm setting
XTerm*termName:             xterm-256color
XTerm*geometry:             120x30
XTerm*scrollBar:            false
XTerm*loginshell:           true
XTerm.cursorBlink:          true
XTerm*borderLess:           true
XTerm*cursorBlink:          true
XTerm*borderWidth:          0

XTerm*saveLines:            4096
XTerm*eightBitInput:        false
XTerm*altSendsEscape:       true
XTerm*metaSendsEscape:      true

XTerm*renderFont:           true
XTerm*locale:               true
XTerm*utf8:                 true
XTerm*utf8Title:            true
XTerm*faceName:             DejaVu Sans Mono:antialias=true
XTerm*faceNameDoublesize:   Source Han Sans CN:antialias=false
XTerm*faceSize:             12
XTerm*cjkWidth:             false

#include                    ".Xresources.d/monokai"
!#include                   ".Xresources.d/solarized"

! emacs gui
Emacs.geometry:             120x42+20+10
